body,html,p,h1,h2,h3,h4,h5,h6,ul,li {
  margin:0;
  padding:0;
}

body {
  max-width:640px;
  margin:0 auto;
}

section {
  width:100%;
  position:relative;
}

.sp-img {
  width:100%;
  display:block;
}